### Soal Tipe Data

In [3]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [13]:
# lengkapi function berikut
def sort_company():
    sorted_list = sorted(company_detail_list.values(), key=lambda x: x['domain'], reverse=True)
    companies = [{'name': company['name'], 'domain': company['domain']} for company in sorted_list]
    print(companies)
    pass

sort_company()

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [15]:
# lengkapi function berikut
def get_company_domain():
    for company_name, company_detail in company_detail_list.items():
        domain = company_detail['domain']
        num_clients = len(company_detail['clients'])
        print(f"{company_name}: {domain}, relation: {num_clients} clients")
    pass

get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [24]:
# lengkapi function berikut
def get_employees():
    employees_with_domain = []
    for employee_name, employee_detail in employee_detail_list.items():
        company_name = employee_detail['company']
        domain = company_detail_list[company_name]['domain']
        full_name = employee_detail['full_name']
        employees_with_domain.append({
            "full_name": full_name,
            "company": company_name,
            "domain": domain
        })
    print(employees_with_domain)
    pass

get_employees()

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [27]:
# lengkapi function berikut
def get_employees_by_company():
    companies_with_employees = []
    for company_name, company_detail in company_detail_list.items():
        employees = [employee_name for employee_name, employee_detail in employee_detail_list.items() if employee_detail['company'] == company_name]
        companies_with_employees.append({
            "company": company_name,
            "employees": employees
        })
    print(companies_with_employees)
    return companies_with_employees
    pass

get_employees_by_company()

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

[{'company': 'Company 1', 'employees': ['John Doe']},
 {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']},
 {'company': 'Company 3', 'employees': []}]

### Soal pre-processing data

In [59]:
import pandas as pd

In [30]:
data_startup = pd.read_csv('50_Startups.csv')

In [31]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
41   27892.92        84710.77        164470.71     Florida   77798.83
12   93863.75       127320.38        249839.44     Florida  141585.52
0   165349.20       136897.80        471784.10    New York  192261.83
27   72107.60       127864.55        353183.81    New York  105008.31
49        NaN       116983.80         45173.06  California   14681.40
38   20229.59        65947.93              NaN    New York   81229.06
13   91992.39       135495.07        252664.93  California        NaN

In [42]:
# Mengisi data Kosong dengan mean datanya

rndSpendMean = data_startup["R&D Spend"].mean()
administrationMean = data_startup["Administration"].mean()
marketingSpendMean = data_startup["Marketing Spend"].mean()
profitMean = data_startup["Profit"].mean()

data_startup["R&D Spend"] = data_startup["R&D Spend"].fillna(rndSpendMean)
data_startup["Administration"] = data_startup["Administration"].fillna(administrationMean)
data_startup["Marketing Spend"] = data_startup["Marketing Spend"].fillna(marketingSpendMean)
data_startup["Profit"] = data_startup["Profit"].fillna(profitMean)

data_startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [45]:
col_cat = ["State"]

data_startup.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [46]:
# Menggunakan OneHotEncoder untuk field State

from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder()
onehot.fit(data_startup[col_cat])

OneHotEncoder()

In [51]:
# Menambah Field Tax

data_startup["Tax"] = (data_startup["Profit"] + data_startup["Marketing Spend"] + data_startup["Administration"]) * (5 / 100)

data_startup.sample(10)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
43,15505.73,122782.75,35534.17,New York,69758.98,11403.7950
37,44069.95,122782.75,197029.42,California,89949.14,20488.0655
15,114523.61,122782.75,261776.23,New York,129917.04,25723.8010
0,165349.20,122782.75,471784.10,New York,192261.83,39341.4340
42,23640.93,122782.75,148001.11,California,71498.49,17114.1175
40,28754.33,122782.75,172795.67,California,78239.91,18690.9165
25,64664.71,122782.75,137962.62,California,107404.34,18407.4855
33,55493.95,122782.75,214634.81,Florida,96778.92,21709.8240
18,91749.16,122782.75,294919.57,Florida,124266.90,27098.4610
3,144372.41,122782.75,383199.62,New York,182901.99,34444.2180

In [63]:
# Membuat Standard Scaler

from sklearn.preprocessing import StandardScaler

col_num = ["R&D Spend", "Administration", "Marketing Spend", "Profit", "Tax"]

SS = StandardScaler()
SS.fit(data_startup[col_num])

col_num2 = [c+"_SS" for c in col_num]
data_startup[col_num2]=pd.DataFrame(SS.transform(data_startup[col_num]))

data_startup.dtypes

R&D Spend             float64
Administration        float64
Marketing Spend       float64
State                  object
Profit                float64
Tax                   float64
R&D Spend_SS          float64
Administration_SS     float64
Marketing Spend_SS    float64
Profit_SS             float64
Tax_SS                float64
dtype: object

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

### Ketentuan dan Deadline

1. Buat masing-masing repositori di github account
2. Soal dikerjakan di repositori tsb.
3. Jawaban yang dikumpulkan di **e-learning** merupakan link github dari repositori di atas.
4. Deadline pengumpulan soal adalah hari rabu, 15 Mei 2024 pukul 23:59.